body {
  background-color: white;
}

#caption {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 320px;
}



#date-input {
  background-color: whitesmoke;
  border: solid black 1px;
}

h1 {
  font-family: cursive;
}

img {
  width: 400px;
}

#result {
  display: none;
}

#string {
  display: none;
}